body { background-image = "url(http://static.tvblob.com/img/youtube/light/search_bg_4-3.png)"; }
#yt_loading {background:transparent url('http://static.tvblob.com/img/youtube/loading_yt.gif') center center no-repeat;}
#homepage{ background: url('http://static.tvblob.com/img/youtube/light/home_bg_4-3.png'); color: #656565; }
#videolistmenu .menubar a { background: url('http://static.tvblob.com/img/youtube/light/button_sprite_listavideo_4-3.png'); color: #656565;}
#videolistmenu .videolistmenu { background: url('http://static.tvblob.com/img/youtube/light/button_sprite_listavideo_4-3.png') 0 -30px; }
#videolist{ background: url('http://static.tvblob.com/img/youtube/light/search_bg_4-3.png');}
.riga .textdiv{ color: #676767; }
.riga_selected .textdiv {color: #fff;}
